
#main-container-2{
  height: 500px;
  width: 100%;
  margin: 0 auto;
  background-color: aliceblue;
}
#main-container-2-top-part{
  width: 100%;
  height: 40%;
}
#main-container-2-bottom-part{
  background-color: transparent;
  width: 100%;
  height: 60%;
}
#main-container-2-top-head{
  height: 50%;
  width: 100%;
}
#main-container-2-top-head > p{
  text-align: center;
  font-size: 35px;
  font-family: 'Righteous', cursive;
  padding-top: 20px;
  text-transform: uppercase;

}
#main-container-2-top-subtitle{
  background-color: transparent;
  height: 50%;
  width: 100%;
}
#main-container-2-top-subtitle > p{
  text-align: center;
  font-family: 'Montserrat';
  margin-top: 0px;
  text-transform: capitalize;
  font-size: 25px;
}
#main-container-2-bottom-box-container{
  background-color: transparent;
  width: 85%;
  height: 90%;
  margin: 0 auto;
}
#main-container-2-bottom-box-container-1{
  background-color: transparent;
  width: 30%;
  height: 100%;
  float: left;
  margin-left: 20px;

}
.inline-container-1{
  height: 50%;
  width: 100%;

}
.inline-container-2{
  height: 20%;
  width: 100%;

}
.inline-container-2 > h1{
  text-align: center;
  font-family: 'Righteous', cursive;
  text-transform: uppercase;
  font-size: 25px;

}
.inline-container-3{;
  height: 30%;
  width: 100%;

}
.inline-container-3 > p{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  text-transform: lowercase;
}
#main-container-2-bottom-box-container-2{
  background-color: transparent;
  width: 30%;
  height: 100%;
  float: left;
  margin-left: 20px;

}
#main-container-2-bottom-box-container-3{
  background-color: transparent;
  width: 30%;
  height: 100%;
  float: left;
  margin-left: 20px;
}
