html {
    background-image: url(chai3.jpg);
        
        
      }
body {
    
    font-family: 'Lato', sans-serif;
}
#main {
    width: 20%;
    float: left;
    height: 100%;
    background-color: transparent;
    color: #fff;
    text-align: center;
}

    
    